.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
}

.keyword-search-label {
  font-weight: normal;
}

.sidebar {
  width: 250px;
  padding: 25px;
  background-color: #eeeeee;
  border-right: 1px solid #ddd;
  height: 100%;
  position: fixed;
}

.content {
  margin-left: 275px;
  margin-right: 20px;
  padding: 22px;
  transition: margin-left 0.3s;
  transition: 0.3s;
}

.p-field {
  margin-bottom: 15px;
}

.p-field label {
  display: block;
  margin-bottom: 1px;
}

.p-field input {
  width: 100%;
}
