.grade-distribution {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
  padding: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.keyword-search-label {
  font-weight: normal;
}

.grade-distribution .p-datatable .p-datatable-thead > tr > th,
.grade-distribution .p-datatable .p-datatable-tbody > tr > td {
  white-space: normal;
  word-wrap: break-word;
  max-width: 175px;
  padding: 5px;
}
